[Desktop Entry]
Name=vatmageddon
Comment=Calculate VAT, Gross & Net values
Exec=vatmageddon
Icon=accessories-calculator
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Calculator;
